@-webkit-keyframes float {
  0% {
    -webkit-box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.05);
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.03);
            box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.03);
    -webkit-transform: translatey(-10px);
            transform: translatey(-10px);
  }
  100% {
    -webkit-box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.05);
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@keyframes float {
  0% {
    -webkit-box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.05);
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.03);
            box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.03);
    -webkit-transform: translatey(-10px);
            transform: translatey(-10px);
  }
  100% {
    -webkit-box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.05);
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@-webkit-keyframes fadeUp {
  0% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes fadeUp {
  0% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes blur-in {
  0% {
    -webkit-transform: scaleX(2.5) scaleY(0.2);
    transform: scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
    -webkit-filter: blur(20px);
    filter: blur(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes blur-in {
  0% {
    -webkit-filter: blur(20px);
    filter: blur(20px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.blur-in {
  -webkit-filter: blur(20px);
          filter: blur(20px);
  opacity: 0;
  -webkit-animation: blur-in 2.4s cubic-bezier(0.23, 1, 0.32, 1) forwards;
  animation: blur-in 2.4s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

.fade-in-bottom {
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  opacity: 0;
  -webkit-animation: fade-in-bottom 2.4s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  animation: fade-in-bottom 2.4s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
}

.delay-1 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.delay-3 {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.delay-5 {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.delay-7 {
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}

.anim-float {
  -webkit-transform: translatey(0px);
          transform: translatey(0px);
}

.anim-float.a {
  -webkit-animation: float 12s ease-in-out infinite;
          animation: float 12s ease-in-out infinite;
}

.anim-float.b {
  -webkit-animation: float 14s ease-in-out infinite;
          animation: float 14s ease-in-out infinite;
}

.anim-float.c {
  -webkit-animation: float 16s ease-in-out infinite;
          animation: float 16s ease-in-out infinite;
}

.anim-fadeup {
  -webkit-animation: fadeUp 1.6s cubic-bezier(0.77, 0, 0.175, 1);
          animation: fadeUp 1.6s cubic-bezier(0.77, 0, 0.175, 1);
}
/*# sourceMappingURL=animations.css.map */