@keyframes float {
  0% {
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.05);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.03);
    transform: translatey(-10px);
  }
  100% {
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.05);
    transform: translatey(0px);
  }
}

@keyframes fadeUp {
  0% {
    transform: translateY(8px);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.anim {
  &-float {
    transform: translatey(0px);

    &.a {
      animation: float 12s ease-in-out infinite;
    }

    &.b {
      animation: float 14s ease-in-out infinite;
    }

    &.c {
      animation: float 16s ease-in-out infinite;
    }
  }

  &-fadeup {
    animation: fadeUp 1.6s cubic-bezier(0.77, 0, 0.175, 1);
  }
}
