@keyframes float {
  0% {
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.05);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.03);
    transform: translatey(-10px);
  }
  100% {
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.05);
    transform: translatey(0px);
  }
}

@keyframes fadeUp {
  0% {
    transform: translateY(8px);
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@-webkit-keyframes blur-in {
  0% {
    -webkit-transform: translateY(16px);
    transform: translateY(16px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); 
    opacity: 1;
  }
}
@keyframes blur-in {
  0% {
    -webkit-transform: translateY(16px);
    transform: translateY(16px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); 
    opacity: 1;
  }
}

 @-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

 @-webkit-keyframes tilt-in-top-1 {
  0% {
    -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
            transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
            transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
  }
}
@keyframes tilt-in-top-1 {
  0% {
    -webkit-transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
            transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0deg) translateY(0) skewY(0deg);
            transform: rotateY(0deg) translateY(0) skewY(0deg);
    opacity: 1;
  }
}


.blur-in {
  -webkit-transform: translateY(16px);
  transform: translateY(16px);
  opacity: 0;
  -webkit-animation: blur-in 2.4s cubic-bezier(0.23, 1, 0.32, 1)
    forwards;
  animation: blur-in 2.4s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

.fade-in-bottom {
  -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
	-webkit-animation: fade-in-bottom 2.4s cubic-bezier(0.215, 0.610, 0.355, 1.000) forwards;
	        animation: fade-in-bottom 2.4s cubic-bezier(0.215, 0.610, 0.355, 1.000) forwards;
}

.tilt-in-top-1 {
	-webkit-animation: tilt-in-top-1 1.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
	        animation: tilt-in-top-1 1.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
}

.delay-1 {
  animation-delay: 1s;
}

.delay-3 {
  animation-delay: 3s;

  &-2 {
    animation-delay: 3.2s;
  }

  &-5 {
    animation-delay: 3.5s;
  }

  &-8 {
    animation-delay: 3.8s;
  }
}

.delay-5 {
  animation-delay: 5s;
}

.delay-7 {
  animation-delay: 7s;
}

.anim {
  &-float {
    transform: translatey(0px);

    &.a {
      animation: float 12s ease-in-out infinite;
    }

    &.b {
      animation: float 14s ease-in-out infinite;
    }

    &.c {
      animation: float 16s ease-in-out infinite;
    }
  }

  &-fadeup {
    animation: fadeUp 1.6s cubic-bezier(0.77, 0, 0.175, 1);
  }
}
