@import "./colors";

.btn-icon {
  border: none;
  background-color: transparent;
  box-shadow: 0;
  outline: 0;
  transition: transform 0.35s cubic-bezier(0.86, 0, 0.07, 1);
  svg path {
    transition: fill 0.25s linear;
  }

  &:hover {
    cursor: pointer;

    svg path {
      fill: $accent-color-light;
    }
  }

  &:focus {
    outline: none;
  }

  &:active {
    transform: scale(0.9);
  }
}

.btn-cta {
  width: 40%;
  background-color: $accent-color;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  height: 56px;
  box-shadow: none;
  border: 0px solid #6999e1;
  transition: 0.35s cubic-bezier(0.34, 1.56, 0.64, 1);
  transition-property: border-width background-color transform;

  &.block {
    width: 100%;
  }

  &.floating {
    position: fixed;
    bottom: 40px;
    margin: 0 auto;
    left: 0;
    right: 0;

    box-shadow: 0px 8px 16px rgba(12, 72, 163, 0.12);
  }

  svg {
    margin-left: 16px;
  }

  &:active {
    // border: 4px solid #6999e1;
    outline: none;
    transform: scale(0.98);
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:hover {
    cursor: pointer;
    background-color: #3777d7;
  }

  &:disabled {
    background-color: #eeeeee;
    color: #dbdbdb;
    box-shadow: none;

    svg path {
      fill: #dbdbdb;
    }
  }
}

.btn {
  border-radius: 16px;
  &.--lg {
    padding: 16px 72px;
    height: 56px;

    font-family: HK Grotesk;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;

    &.--icon-left {
      span {
        margin-right: 16px;
      }
    }

    &.--icon-right {
      span {
        margin-left: 16px;
      }
    }

    color: #ffffff;
  }

  &.--primary {
    background: $accent-color;
  }

  &.--secondary {
    background: rgba(159, 187, 242, 0.2);
    border: 2px solid #9fbbf2;
    color: #6599E8;
  }

  &.--block {
    width: 100%;
  }
}
