$accent-color: #4a8cef;
$accent-color-light: #a4c5f7;
$accent-color-lightest: #f6f9fe;

$glossy-blue: linear-gradient(180deg, #5a97f3 0%, #4a8cef 100%);

//main colors

$black: #111111;
$white: #ffffff;

$light-blue: #f6f9fe;
$grey: #5b5858;
$light-grey: #979797;