$accent-color: #4a8cef;

// body {
//   width: 100%;
//   margin: 0;
//   padding: 40px 30%;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   font-family: "HK Grotesk", sans-serif;
//   height: 100%;
//   overflow: hidden;
//   background: #ffffff;
// }

// .icon {
//   span {
//     font-family: "HK Grotesk", sans-serif;
//     font-size: 26px;
//     font-style: normal;
//     font-weight: 800;
//     text-align: center;
//   }
// }
