@media only screen and (max-width: 600px) {
  body {
    padding: 40px 16px !important;
    width: 100%;
  }
  .background-svg {
    display: none !important;
  }
  .container {
    margin-top: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    line-break: loose;
    font-family: "HK Grotesk", sans-serif !important;
    font-size: 44px !important;
    font-style: normal;
    letter-spacing: 0 !important;
    line-height: 46px !important;
    font-weight: 800;
    text-align: left;
    margin: 0;
    margin-bottom: 8px;
  }

  .preview-img {
    display: none !important;
  }

  .background-container {
    width: 100%;
  }

  .input-container {
    flex-direction: column;
  }

  .form-container {
    flex-direction: column;
    width: 100% !important;

    * {
      width: 100% !important;
    }

    .subheader {
      margin-top: 0 !important;
    }

    input {
      margin-bottom: 16px;
    }
  }

  .line {
    &-left {
      display: none;
    }

    &-right {
      display: none;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .form-container {
    width: 100% !important;
  }

  .background-container {
    flex-direction: column !important;
    align-items: center;
  }

  .images-container {
    flex-direction: row !important;
    left: -50% !important	;
    top: auto !important;
    right: auto !important;  
    bottom: 15% !important	;
  }

  .preview-img {
    margin: 0 16px !important;
  }

  .line {
    &-left {
      position: absolute;
      left: 0px;
      bottom: 0px;
      z-index: -1;
      width: auto;
      height: 747px;
    }
  
    &-right {
      right: -30% !important;
    }
  }
}
