@import "./stylesheets/mediaqueries";
@import "./stylesheets/animations";

$accent-color: #4a8cef;


.ml11 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}


.ml11 .line1 { 
  top: 0; 
  left: 0;
}

body {
  width: 100%;
  margin: 0;
  padding: 40px 10%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "HK Grotesk", sans-serif;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(270deg, #F6F9FE 0%, #FFFFFF 100%);
}

.background-container {
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: start;
  flex-direction: column;
  width: 60%;
}
.form-container {
  width: 100%; 
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  * {
    justify-self: center;
  }
}

h1 {
  color: $accent-color;
  line-break: loose;
  font-family: "HK Grotesk", sans-serif !important;
  font-size: 72px;
  font-style: normal;
  font-weight: 800;
  line-height: 74px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
  margin-bottom: 8px;
}

h4 {
  color: $accent-color;
  font-family: "HK Grotesk", sans-serif !important;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  margin: 0;
  margin-bottom: 8px;
}

.subheader {
  font-family: HK Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 24px;
  color: #000000;
}

input {
  height: 56px;
  width: 50%;
  padding: 16px 24px;
  background: #ffffff;
  border: 2px solid #f4f5f7;
  box-sizing: border-box;
  border-radius: 16px;
  color: #000000;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  transition: border 0.15s ease-in-out;
  &:focus {
    outline: none;
    box-shadow: none;
    border-color: $accent-color;
  }
}

::placeholder {
  color: #CECECE;
}

.btn-cta {
  background-color: $accent-color;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  width: 50%;
  height: 56px;
  box-shadow: none;
  border: 0px solid #6999e1;
  transition: 0.15s ease-in-out;
  transition-property: border-width background-color;

  &:active {
    border: 4px solid #6999e1;
    outline: none;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:hover {
    cursor: pointer;
    background-color: #3777d7;
  }

  &.disabled {
    background-color: #c7c7c7;
    color: #a0a0a0;
  }
}


.logo {
  align-self: start;
  margin-bottom: 0px;
}

.line {
  &-left {
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: -1;
    width: auto;
    height: 745px;
  }

  &-right {
    position: absolute;
    right: -0px;
    top: 0px;
    z-index: -1;
    height: auto;
    width: 745px;
  }
}

.images-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: -5%;
  top: -10%;
}

.preview-img {
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  margin: 16px 0;

}