$accent-color: #4a8cef;

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "HK Grotesk", sans-serif;
  height: 100%;
}

.background-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  margin-top: 160px;
  width: 420px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 80px 0px;
  width: 100%;
}

h1 {
  color: #000000;
  font-family: "HK Grotesk", sans-serif !important;
  font-size: 38px;
  font-style: normal;
  font-weight: 800;
  line-height: 76px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
  margin-bottom: 8px;
}

.subheader {
  font-family: HK Grotesk;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 32px;
  color: #cecece;
}

input[type="text"] {
  height: 56px;
  width: 100%;
  padding: 16px 24px;
  background: #ffffff;
  border: 2px solid #f4f5f7;
  box-sizing: border-box;
  border-radius: 16px;
  color: #000000;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 24px;
  transition: border 0.15s ease-in-out;
  &:focus {
    outline: none;
    box-shadow: none;
    border-color: $accent-color;
  }
}

::placeholder {
  color: #dedede;
}

.btn-cta {
  background-color: $accent-color;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  width: 100%;
  height: 56px;
  box-shadow: none;
  border: 0px solid #6999e1;
  transition: 0.15s ease-in-out;
  transition-property: border-width background-color;

  &:active {
    border: 4px solid #6999e1;
    outline: none;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:hover {
    cursor: pointer;
    background-color: #3777d7;
  }
}

.background-svg {
  position: absolute;
  top: 32px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: auto;
  height: 90%;
  z-index: -1;
}

.logo {
  align-self: center;
  justify-self: center;
}

@media only screen and (max-width: 600px) {
  .background-svg {
    display: none !important;
  }
  .container {
    margin-top: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
